@import "../../../../assets/styles/auth.form";

.signup {
  margin-top: 10px;

  .container {
    display: flex;

    .page-image {
      margin-left: 222px;


    }
  }
}

@media screen and (max-width: 1023px) {
  .signup {
    .container {
      display: flex;
      justify-content: center;
      .page-image {
       display: none;
      }
    }
  }
}
